/node_modules
/public/hot
/public/storage
/public/**/*.js
/public/**/*.map
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
0.js
mix-manifest.json
public/css/*.css
public/js/*.js
